<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar position-relative sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GymGuide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/gyms">All Gyms</a>
        <a class="nav-link" href="/gyms/new">Add Gym</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
        <% } else { %>
          <span class="nav-link">Hi, <%= currentUser.username %></span>
          <div class="user__profile d-flex align-items-center">
            <% if (currentUser.avatar.length != 0) { %>
              <div class="dropdown" style="position: relative;">
                <img class="show__avatar" role="button" onclick="showUserInfo()" src="<%= currentUser.avatar[0].url %>" alt="Avatar" />
            </div>
            <% } %>
          </div>

          <div class="user__info position-absolute top-100 end-0 p-3 d-none" style="background-color: #212529">
            <div class="d-grid gap-3">
              <div><a class="myprofile-btn"href="/myProfile" >My profile</a></div>
              <div><a class="logout-btn"href="/logout" >Logout</a></div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script src="/javascripts/navbar.js"></script>