.btn-add, .btn-cancel {
    border: 1px solid black; 
    background-color: transparent;
    color: black; 
    padding: 5px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.btn-add:hover, .btn-cancel:hover {
    background-color: gray;
    color: white; 
}
