<% layout('layouts/boilerplate')%>

    <!-- //method not methods -->
    <div class="row">
        <h1 class="text-center">New Gym</h1>
        <div class="col-6 offset-3">
            <!-- enctype="multipart/form-data" purpose: this is to allow the form to send files to the server, in this case, image files . otherwise the form will not send the files to the server and the server will not be able to process the image files. the default value is application/x-www-form-urlencoded which is used for sending text data to the server and not files. -->
            <form action="/gyms" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">            
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="gym[title]" required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="gym[location]" required>
                </div>
                <div class="mb-3">
                    <!-- <label for="">Upload Images</label> -->
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" plcaeholder="choose images..." id="image" name="image" multiple>
                        <label class="input-group-text" for="image">Upload</label>
                    </div>
                </div>

                    <!-- <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div> -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="gym[image]" required>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Gym Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" placeholder="0" aria-label="price" aria-describedby="price-label" name="gym[price]" required>
                      </div>
    
                </div>

                <div class="mb-3">
                    <label class="form-label" for="features">Features</label>
                    <textarea class="form-control" type="text" id="features" name="gym[features]" required></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="gym[description]" required></textarea>
                </div>
                
                <div class="mb-3">
                    <select class="form-select" name="gym[category]" id="category" aria-label="category">
                        <option selected>Open this select menu</option>
                        <option value="Tent"> General </option>
                        <option value="Wild/free">Swimming</option>
                        <option value="Hammock">Yoga</option>
                        <option value="Bike">Tennis</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-success">Add Gym</button>
                </div>
                
            </form>
            <a href="/gyms">Go back</a>
        </div>
    </div>

    