<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row login-box">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="row no-gutters">
                    <div class="col-md-6 img-box">
                        <img src="/pictures/General/16.jpg" 
                             alt="Login Image" class="img-fluid rounded-left" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="card-body">
                            <div class="card-title-box">
                                <h5 class="card-title">Login</h5>
                            </div>                           
                            <form action="/login" method="POST" class="validated-form" novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="card-button-box">
                                    <button class="btn login-button btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


